:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(26, 26, 26);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  --primary: #690B22;
  --primary-light: #E07A5F;
  --secondary: #1B4D3E;
  --secondary-light: #CFE4C6;
  --light: #F1E3D3;
  --light-shadow: #C4B29E;
}

body {
  margin: 0;
}
